.root {
	position: relative;
	display: grid;
	align-items: center;
	margin: 0 65px 45px 65px;
	font-size: 20px;
	.search {
		position: absolute;
		opacity: 0.7;
		width: 20px;
		height: 20px;
		left: 10px;
		 
	}
	.cancel {
		position: absolute;
		opacity: 0.7;
		width: 20px;
		height: 20px;
		right: 15px;
		cursor: pointer;
	}
	.input {
		height: 45px;
		padding: 10px 30px;
		border: 2px solid rgb(202, 201, 201);
		border-radius: 15px;
		font-size: 16px;
		transition: all 0.15s ease-in-out;
		&:focus {
			border: 2px solid rgb(146, 145, 145);
		}
	}
	
	span {
		margin-right: 15px;
	}
	
}